<p-toolbar class="text-white">
  <div class="flex items-center gap-3">
    <button pButton type="button" icon="pi pi-home" class="p-button-rounded p-button-text text-white" aria-label="Home"></button>
  </div>

  <div class="flex items-center gap-3 ml-auto">
    <button
      pButton
      type="button"
      icon="pi pi-eye"
      class="p-button-rounded p-button-text text-white"
      aria-label="Show/Hide values">
    </button>

    <button
      pButton
      type="button"
      icon="pi pi-sun"
      class="p-button-rounded p-button-text text-white"
      (click)="'toggleTema()'"
      aria-label="Toggle theme">
    </button>

    <p-menu #userMenu [popup]="true" [model]="userItems"></p-menu>
    <button
      type="button"
      class="p-button-rounded p-button-text"
      (click)="userMenu.toggle($event)">
    </button>
  </div>
</p-toolbar>
